.sign-wrap{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
  float: right;
  right: 0;
  font-size: 15px;
}
.sign-wrap > a {
  margin: 0 10px;
  color: white;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  transition: all ease 0.5s;
}
.sign-wrap > span {
  color: white;
  margin: 0 10px;
}
@media screen and (max-width: 320px) {
  .sign-wrap > a {
    padding: 0 10px;
    margin: 0;
  }
}
.sign-wrap > a:hover{
  background-color: rgba(32,170,143,1);
}
