.nav-wrap{
  display: inline-flex;
  float: right;
  justify-content: flex-end;
  align-items:center;
  min-height: 48px;
  background: transparent;
  transition: all ease 0.5s;
  height: 100%;
}
.nav-wrap > a{
  height: 48px;
  padding: 5px 15px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.nav-wrap > a > span{
  font-size: 12pt;
  color: white !important;
  height: 48px;
  line-height: 48px;
}
.nav-wrap:hover{
  background-color: rgba(82,220,193,0.85);
}
