.header-wrap{
  height: 48px;
  justify-content: space-between;
  align-items: center;
  //position: relative;
  background-color: white;
  transition: all ease 0.5s;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 100%;
  z-index: 1000;
  position: absolute;
}
.header-wrap-home{
  .header-wrap;
  box-shadow: none;
  background: linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0));
}
.header-wrap-home:hover{
  color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: white;
}
.left-wrap{
  display: inline-flex;
  align-items: center;
}
@media screen and (min-width: 768px){
  .header-wrap, .header-wrap-home{
    position: fixed;
  }
}
