.header-wrap{
  height: 48px;
  justify-content: space-between;
  align-items: center;
  //position: relative;
  background-color: rgba(82,220,193,0.85);
  transition: all ease 0.5s;
  width: 100%;
  z-index: 1000;
  position: absolute;
}
.header-wrap-home{
  .header-wrap;

  background: linear-gradient(top, rgba(0,0,0,0.4), transparent);
}
.header-wrap-home:hover{
  background: none;
  background-color: rgba(82,220,193,0.85);
}
.left-wrap{
  display: inline-flex;
  align-items: center;
}
