.cover-background{
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 0;
  height: 144px;
  position: relative;
}
.background-mask{
  width: 100%;
  // background-color: rgba(0,0,0,0.1);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
}
.cover-background-home{
  .cover-background;
  height: 100%;
  height: -webkit-fill-available;
  position: relative;
  transition: ease 1s;
  -moz-transition: ease 1s;
  -webkit-transition: ease 1s;
}
.process-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0,0,0,0.4);
  padding: 1px 0;
}
.process-bar > span{
  left: 0;
  display: block;
  background-color: white;
  height: 2px;
  -webkit-animation: progress 8s infinite ease-out;
  -o-animation: progress 8s infinite ease-out;
  animation: progress 8s infinite ease-out;
}
@keyframes progress {
  0%    {width: 0}
  100%  {width: 100%}
}
.cover-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-author{
  color: white;
  padding: 10px 15px;
  background-color: rgba(0,0,0,0.5);
  right: 5%;
  bottom: 15px;
  position: absolute;
}
.cover-author-home{
  .cover-author;
}
.cover-search-wrap{
  text-align: center;
  color: white;
  width: 240px;
  margin: 10px 0;
}
.cover-title-wrap > p {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .cover-author-home{
    bottom: 130px;
  }
}