.message-single{
  height: 30px;
}
.new-dot{
  color: red;
  margin: 0 10px;
}
.message-title{
  display: flex;
  justify-content: space-between;
}
@media screen and(max-width: 768px){
  .message-title{
    flex-direction: column;
  }
}