.photo-card-wrap > img{
  height: auto;
  width: 100%;
  margin: 0;
  margin-bottom: -4px;
  padding: 0;
}
.photo-simple-info-wrap{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 20px;
}
.photo-simple-info{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 50%;
  width: 50%;
 }
.photo-title{
  max-width: 50%;
}
.more-button{
  transition: all ease 0.3s;
  padding: 5px;
}
.more-button:hover{
  background-color: rgba(0,0,0,0.1);
}