.album-cover-wrap{
  height: 500px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-size: cover;
  background-position: center;
}
.album-cover-name{
  color: white;
  position: relative;
  font-size: 48px;
  text-shadow: 0 0 7px rgba(0,0,0,0.6);
  bottom: 10px;
}