.carousel-wrap{
  // background-color: rgba(0,0,0,0.5);
  height: 115px;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  bottom: 5px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}