.preview-wrap{
  background-color:rgba(0,0,0,0.5);
  height: 120px;
  padding: 3px;
  width: 150px;
  transition: all ease 0.2s;
  transform: scale(0.9);
}
.preview-wrap:hover{
  transform: scale(1);
  margin: 0;
}
.preview-img-wrap{
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 85%;
  justify-content: center;
  align-items: center; 
}
.preview-img-wrap > img {
  object-fit: cover;
}
.preview-title-wrap{
  color: white;
  height: 15%;
  padding: 3px;
}