.host-cover-wrap{
  min-height: 150px;
  background: no-repeat;
  background-size: cover;
  background-position-y: -30px;
  display: flex;
  padding: 10px;
}
.host-cover-avatar-wrap{
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  overflow: hidden;
  width: 72px;
  height: 72px;
  margin: auto;
  left: 0;
  right: 0;
}
.host-cover-avatar-wrap > img{
  object-fit: cover;
}
.host-cover-info-wrap{
  
}