.host-cover-wrap{
  min-height: 250px;
  background: no-repeat;
  background-size: cover;
  padding: 40px 20px;;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.host-cover-content{
  display: flex;
  flex: 1;
  max-width: 1420px;
  align-items: center;
}
.host-cover-avatar-wrap{
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  overflow: hidden;
  width: 112px;
  height: 112px;
}
.host-cover-avatar-wrap > img{
  object-fit: cover;
  width: 112px;
  height: 112px;
}
.host-cover-info-wrap{
  color: black;
  font-size: 15px;
}
.host-cover-info{
  padding: 5px 10px;
  // background-color: rgba(0,0,0,0.1);
}
@media screen and(max-height: 768px) {
  .host-cover-wrap{
    flex-direction: column;
    height: 300px;
    padding-top: 60px;
  }
  .host-cover-info{
    text-align: center;
  }
}
.warn-font{
  color: lightcoral;
}