<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--记得更新下面iconfont的CSS连接-->
  <link rel="stylesheet" href="//at.alicdn.com/t/font_501673_2do5eh4g1h4wvcxr.css" />
  <!-- <link rel="stylesheet" href="/index.less" /> -->
</head>

<body>
  <div id="root"></div>
</body>

</html>