
html, body, :global(#root) {
  height: 100%;
  margin: 0;
}
:global{
  .ant-modal-content{
    height: 100%;
  }
}
:global(.ant-layout) {
  min-height: 100%;
  display: flex;
}
:global(.main-content) {
  // padding-top: 48px;
  background-color: white;
  flex: 1;
  position: relative;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}
:global(.content-wrap) {

  max-width: 1440px;
  padding: 30px 10px;
  position: relative;
  margin: auto;
}
:global(.ant-modal-wrap) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content{
  position: absolute;
  height: 100%;
}
.ant-layout{
  height: 100% !important;
}
.ant-select-lg{
  max-width: 240px !important;
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-tab{
  padding: 8px 12px;
}
input[type=text], input[type=password]{
  max-width: 240px;
}
input[type=text]:disabled{
  border: none;
  background: transparent;
  color: black;
}
@media screen and (max-width: 450px) {
  .ant-tabs-tab{
    padding: 8px;
  }
}
