
html, body, :global(#root) {
  height: 100%;
  margin: 0;
}

:global(.ant-layout) {
  min-height: 100%;
  display: flex;
}
:global(.main-content) {
  background-color: white;
  flex: auto;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}
:global(.content-wrap) {
  max-width: 1440px;
  padding: 30px 10px;
  position: relative;
  margin: auto;
}
:global(.ant-modal-wrap) {
  display: flex;
  justify-content: center;
  align-items: center;
}
:global(.no-cover){
  margin-top: 48px;
}

  input[type=text], input[type=password]{
    max-width: 240px;
  }
  input[type=text]:disabled{
    border: none;
    background: transparent;
    color: black;
  }

